//colores
$negroTrans: rgb(8,9,12, 0.5);
$negro: #000B07;
$rojofondo: #56060F;
$rojoTrans: rgb(242, 22, 62, 0.6);
$rojo: #F2163E;
$pistacheTrans: rgb(43, 237, 226, 0.4);
$pistache: rgb(43, 237, 226);
$amarillo: #DDE00D;
$purpuraTrans: rgb(110, 3, 140, 0.6);
$purpura: rgb(110, 3, 140 );
$moradoTrans: rgb(241, 23, 255, 0.6);
$morado: rgb(241, 23, 255);
$naranja: rgba(222,108,70,255);
$blanco: rgb(255, 250, 250);